<header class="site-header">
    <h1>
        <span class="first">Destination Desi</span>
    </h1>
</header>

<div class="countdown-container">
    <div class="vertical-center">
        <h2><span class="h1">Get Ready</span></h2>
        <div class="countdown" data-date="01-2-2024" data-time="12:00">
            <div class="day"><span class="num"></span><span class="word"></span></div>
            <div class="hour"><span class="num"></span><span class="word"></span></div>
            <div class="min"><span class="num"></span><span class="word"></span></div>
            <div class="sec"><span class="num"></span><span class="word"></span></div>
        </div>
    </div>
</div>

{# first call to action - GET NOTIFIED #}
<div class="mailing-list">
    <h2>Stay Up To Date</h2>
    <div class="mailing-list__sign-up">
        <p>Join our mailing list and be the first to know about Contests, Giveaways, and Events in the Desi Community.</p>
        <form action="" method="">
            <input type="text" placeholder="Email" />
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>

{# second call to action - GET OUR MARKETING KIT #}
<div class="marketing-kit"></div>

{# <div class="social-row">
    <a
        class="social-row--link"
        href="{{ options.facebook }}"
        target="_blank"
        rel="noopener"
    >
        <span class="fab fa-facebook-f"></span>
    </a>

    <a
        class="social-row--link"
        href="{{ options.instagram }}"
        target="_blank"
        rel="noopener"
    >
        <span class="fab fa-instagram"></span>
    </a>

    <a
        class="social-row--link"
        href="{{ options.twitter }}"
        target="_blank"
        rel="noopener"
    >
        <span class="fab fa-twitter"></span>
    </a>

    <a
        class="social-row--link"
        href="{{ options.pinterest }}"
        target="_blank"
        rel="noopener"
    >
        <span class="fab fa-pinterest"></span>
    </a>

    <a
        class="social-row--link"
        href="{{ options.tiktok }}"
        target="_blank"
        rel="noopener"
    >
        <span class="fab fa-tiktok"></span>
    </a>
</div> #}
